@model MovieFlow.Modules.Emails.Application.Users.CreateAccount.Models.CreateAccountModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Subject</title>
</head>
<body>
<div style="max-width: 600px; margin: 2rem auto; background-color: #fefefe; padding: 1rem; text-align: center; border: 1px solid #086AD8; border-radius: 24px;">
    <h2>Witaj w MovieFlow!</h2>
    <p>Dziękujemy za rejestrację.</p>
</div>
</body>
</html>