@model MovieFlow.Modules.Emails.Application.Users.UnblockUser.Models.UnblockUserModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Subject</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fefefe; border: 1px solid #ff0000; border-radius: 10px;">
    <h2 style="color: #50C878;">Twoje konto zostało odblokowane</h2>
    <p>Konto zostało odblokowane o @Model.UnblockedAt.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>
</body>
</html>